h1  {
    background-color:lightgreen;
    padding:  35px;
    text-align: center;
    color: white;
}

p#Description{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: black;
}
p{
    color: red;
    font-weight: 200px;
}

input{
    width: 500px;
}
button{
    background-color: blue;
    color: white;
}
div.header{
    padding-left: 50px;
    padding-right: 50px;
}